.dashboard-container {
    position: relative;
    padding: 20px;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .logout-button {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  .logout-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .logout-confirmation button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .logout-confirmation button:first-child {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .logout-confirmation button:first-child:hover {
    background-color: #d32f2f;
  }
  
  .logout-confirmation button:last-child {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .logout-confirmation button:last-child:hover {
    background-color: #388e3c;
  }
  